* {
    box-sizing: border-box;
    
}

@font-face {
    font-family: 'Roboto-regular';
    font-weight: 400;
    src: url(/Fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-bolt';
    font-weight: 700;
    src: url(/Fonts/Roboto-Bold.ttf);
}

.inner {
    width: 690px;
    font-size: 0;
    margin: 0 auto;
}


.inner .card {
    display: inline-block;
    width: 200px;
    background: lightblue;
    text-align: center;
    margin: 15px;
}

.inner .card img {
    width: 130px;
    height: 130px;
    margin: 0 35px 10px;
    
    
}

.inner .card .text {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Roboto-regular';
    font-weight: 400;
    margin-bottom: 18px;
    
    
}

.inner .card .title {
    font-family: 'Roboto-bolt';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;


}